html,
body {
  background: #2d3748;
  color: #ffcb52;
  font-family: "Raleway", sans-serif;
}

.recipe-tracker h1 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.recipe-tracker .available .recipe {
  cursor: pointer;
}

.recipe-tracker .selected img {
  max-height: 32px;
  max-width: 32px;
}

